# Ignore macOS system files
.DS_Store

# Ignore node_modules folder
node_modules/

# Ignore log files
*.log

# Ignore all env files
*.env*

# Ignore the local Shopify configuration file which contains API credentials
config/settings_data.json

# Ignore backup files
*.bak

# Ignore all .DS_Store files in subfolders
**/.DS_Store

# Ignore vendor/bundle in case of using Ruby or Jekyll plugins
vendor/bundle/

# Ignore files related to local development tools
.deploy.yml
.deploy

# Ignore Shopify's log files
log/*.log

# Ignore .yml files used for CI/CD except default.yml
*.yml
!default.yml
